html, body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  margin: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-header {
  text-align: center;
}

section {
  margin-top: 20px;
}

section:has(+h2) {
  margin-top: 10px;
}

section h3 {
  font-weight: 400;
}

article {
  text-align: justify;
}