html, body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  margin: 0 20px;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  margin-top: 20px;
}

section:has(+h2) {
  margin-top: 10px;
}

article {
  text-align: justify;
  margin-top: 10px;
}

footer {
  position: relative;
  bottom: 0;
  margin: 40px -40px 0 -40px ;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  color: #282c34;
}

footer ul {
  display: flex;
}

li {
  list-style-type: none;
  margin-right: 10px;
}

footer ul li a {
  text-decoration: none;
  color: #282c34;
}